# PHP secrets
api/config.php
api/db.php

# Database files
database.sql
database_online.sql

# Backup / archive
*.zip

# XAMPP files
dashboard/
xampp/
webalizer/
applications.html
bitnami.css

# Editor / OS
.vscode/
.DS_Store
Thumbs.db